.player-list{
    width: 33%;
    span{
        font-size: 15px;
        text-decoration: underline;
        color: #FF00FF;
        margin-left: 5px;
    }
}

@media only screen and(max-width:900px){
    .player-list{
        width: 100%;
        text-align: center;
    }
}